/*  your css code here. If applicable */
.middle{
	border:1px solid black;
}

#t11,#t12,#13{
	padding:1px;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
h1{
	text-align:center;
}
#t11{
	border:1px solid rgb(0,0,0);
}